name: validate and test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: node
        uses: actions/setup-node@v3
        with:
           node-version-file: .node-version

      # - name: setup
      #   run: npm run setup

      - name: packages
        run: npm ci

      - name: tests
        run: npm run test:coverage
